@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Roboto", sans-serif;
}
nav {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 205px;
}

.logo {
  font-weight: 600;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.hero-container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f9faf8;
  height: 500px;
}

.herodesc {
  height: 300px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.heromain {
  font-size: 48px;
  font-weight: 600;
}

.herosecondary {
  font-size: 18px;
  color: #e5e7eb;
}

button.signup {
  font-weight: 600;
  font-size: 16px;
  width: 25%;
  height: 13%;
  background-color: #3882f6;
  color: #f9faf8;
  border: 0px;
  border-radius: 5px;
}

button.signup:active {
  font-weight: 600;
  font-size: 16px;
  width: 25%;
  height: 13%;
  background-color: #458cffcc;
  color: #f9faf8;
  border: 0px;
  border-radius: 5px;
}

.heroimg {
  min-height: 300px;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404c5e;
  color: #c2c2c2;
  border-radius: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  width: 100%;
  padding: 30px;
}

.infohead {
  font-size: 36px;
  font-weight: 600;
}

.block-container {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.infoblock {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.infoimg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 2px solid #3882f6;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.imgdesc {
  width: 60%;
  text-align: center;
  font-size: 18px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #e5e7eb;
}
.quote-block {
  width: 40%;
  padding: 20px;
}

.quote {
  font-size: 35px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 10px;
}
.author {
  text-align: right;
  font-weight: 600;
  font-size: 20px;
}

.ad-container {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 60%;
  background-color: #3883f6;
  border-radius: 10px;
}

.ad-text {
  color: #f9faf8;
}

.ad-main {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}

button.ad-button {
  font-size: 20px;
  color: #ffffff;
  background-color: #3883f6;
  border: 2px solid white;
  border-radius: 10px;
  padding: 6px 20px;
}

button.ad-button:active {
  font-size: 20px;
  color: #ffffff;
  background-color: #347ce9;
  border: 2px solid white;
  border-radius: 10px;
  padding: 6px 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #1f2937;
  color: #dbdbdb;
  font-size: 20px;
}
